* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg {
    width: 100%;
    min-height: 100vh;
    background-image: url("../image/bg.png");
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #6B6357;
    font-weight: 400;
}

.Button1 {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 15;
    font-weight: 400;
    padding: 10px;
    background-image: linear-gradient(60deg, #BBAA90, #e1dacc);
    border-style: groove;
    border-radius: 1cm;
    border-top-right-radius: 30px;
    border-width: 1.2px;
}

.Button2 {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 15;
    font-weight: 400;
    padding: 10px;
    background-image: linear-gradient(45deg, #BBAA90, #e1dacc);
    border-style: groove;
    border-radius: 4cm;
    border-top-right-radius: 30px;
    border-width: 1.2px;
}

.background {
    background-color: #BBAA90;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 30%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.description {
    font-size: 22px;
}